* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    background-color: rgb(25,162,174);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right calc(47vw + 15%) bottom calc(65vh - 15vw), left calc(40vw + 25%) top calc(72vh - 15vw);
    background-attachment: fixed;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100vh;
}


.Main {
  font-family: 'Kumbh Sans', sans-serif;
  background-image: url("./images/bg-pattern-card.svg");
  background-color: azure;
  background-repeat: repeat-x;
  border-radius: 5% 5% 5% 5%;
  width: 370px;
  height: 400px;
}


img {
  border: 5px solid #fff;
  border-radius: 50%;
  margin-top: 23%;
}


.imgBx{
  text-align: center;
}

.name-age-city {
  margin: 10% 28% 10% 28%;
}

.name-age {
  display: flex;
  justify-content: space-around;
}

.age,
.city {
  font-size: 1.2rem;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

.city {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

.stats {
  border-top: 2px solid hsl(0, 0%, 59%);
  display: flex;
  justify-content: space-around;
  line-height: 1.5rem;
  padding-top: 1.6rem;
}

.grey{
  color: grey;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
