* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: auto;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: "Barlow Semi Condensed", sans-serif;
  color: beige;
  display: grid;
  place-items: center;
}

.scoreboard{
    width: 50%;
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
}
.game-name{
    margin: 1rem;
    line-height: 1;
    font-size: 3rem;
}

.game-score{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    color: black;
    height: 8rem;
    width: 8rem;
    margin-left: 60%;
    border-radius: 8px;
}
.score{
  font-size: 4rem;
}

.choose{
  position: relative;
  background: url("./images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 500px;
}

.choose > div{
  background-position: center;
  background-color: white;
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  border-radius: 50%;
}

.choose > div:hover{
  cursor: pointer;
}



.choose-paper{
  border: 15px solid red;
  background: url("./images/icon-paper.svg");
  position: absolute;
  top: 2rem;
  left: 1rem;
}

.choose-paper:active{
  top: 30px;
}

.choose-rock{
  border: 15px solid blue;
  background: url("./images/icon-rock.svg");
  position: absolute;
  bottom: 2rem;
  left: 10rem;
}

.choose-rock:active{
  bottom: 34px;
}

.choose-scissors{
  background: url("./images/icon-scissors.svg");
  border: 15px solid yellow;
  position: absolute;
  top: 2rem;
  right: 1rem;
  
}

.choose-scissors:active{
  top: 30px;
}

.picked{
  width: 50%;
  display: none;
  justify-content: space-around;
  position: relative;
}


.img-scissors{
  background: url("./images/icon-scissors.svg");
  border: 15px solid yellow;
}
.img-rock{
  background: url("./images/icon-rock.svg");
  border: 15px solid blue;
}
.img-paper{
  background: url("./images/icon-paper.svg");
  border: 15px solid red;
}

.you, .house{
  text-align: center;
  font-size: 2rem;
}



.img-scissors, .img-rock, .img-paper{
  margin-top: 5rem;
  background-position: center;
  background-color: white;
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  border-radius: 50%;
}


.result{
  margin-top: 7rem;
  font-size: 4rem;
  height: 100px;
  width: auto;
}

.play-again{
  background-color: white;
  color: red;
  width: 200px;
  height: 50px;
  line-height: 50px;
  letter-spacing: 2px;
  font-size: 1.6rem;
  text-align: center;
  position: absolute;
  bottom: 1px;
  border-radius: 10px;
}

.play-again:hover{
  cursor: pointer;
}


.rules{
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    text-align: center;
    line-height: 3rem;
    height: 3rem;
    width: 4rem;
    border-radius: 5px;
    background-color: brown;
}

.reset{
  background-color: royalblue;
  font-size: 2rem;
  padding: 20px 40px;
  border-radius: 10px;
}

/* Rules Popup */
#check:checked ~ label #cover {
  display: block;
}
#cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  display: none;
}
#box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 450px;
  height: 450px;
  border: 10px solid white;
}

#box img{
  width: 430px;
  height: 430px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


