*{
  margin: 0;
  padding: 0;  
}

body {
  background-image: url("./images/pattern-bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  font-family: 'Rubik', sans-serif;
}

.heading{
  text-align: center;
  font-size: 3rem;
  color: aliceblue;
  margin-top: 2%;
}

.searchbar{
  text-align: center;  
  margin-top: 2%;
}

.search{
  width: 30%;
  height: 3rem;
  font-size: 1.6rem;
  border-radius: 20px;
  padding-left: 1rem;
}

.info{
  display: flex;
  background-color: white;
  justify-content: space-around;
  height: 250px;
  margin-top: 100px;
}

.ip-address, .location, .timezone, .ISP{
  margin-top: 5%;
} 

.info h3{
  font-size: 1.4rem;
  color: grey;
}

.info p{
  font-size: 2.5rem;
  margin-top: 1rem;
  font-weight: 700;
}

.vertical-line{
  border-left: 2px solid;
  margin-top: 3%;
  height: 150px; 
}




#mapid{
  margin-top: 00px;
  height: 700px;
  width: auto;
}



.myButton {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:30px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}














.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
