body {
  background-image: url("./images/pattern-hills.svg");
  background-position: bottom;
  background-color: hsl(234, 17%, 12%);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100vh;
  font-family: "Red Hat Text", sans-serif;
  display: grid;
  place-items: center;
}

.Main {
  height: 80vh;
  width: 60vw;
  background-image: url("./images/bg-stars.svg");
  display: flex;
  flex-direction: column;
}

.heading {
  display: inline-block;
  color: white;
  /* background-color: yellowgreen; */
  font-size: 2rem;
  align-self: center;
  letter-spacing: 8px;
  margin-top: 10%;
}

.countdown,
.countdown-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: hsl(345, 95%, 68%);
  font-size: 5rem;
}

.countdown {
  margin-top: 10%;
  font-size: 5rem;
}

.countdown-footer {
  font-size: 2rem;
  color: rgb(245, 229, 229);
}

.contact-us img{
    margin-left: 40px;
    margin-right: 40px;
}

/* .contact-us a:hover img{
    color: rgb(233, 114, 35) !important;
} */

.attribution {
  font-size: 1.8rem;
  text-align: center;
  color: aqua;
}
.attribution a {
  color: hsl(54, 83%, 55%);
}
